@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #495057;
}
