:root {
  --primary-color: #009688;
  --primary-color_80: #{rgba(#009688, 0.8)};
  --warning-color: #fbc02d;
  --warning-color_80: #{rgba(#fbc02d, 0.8)};
  --info-color: #0288d1;
  --info-color_80: #{rgba(#0288d1, 0.8)};
}
